{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
<style>
    .color {color:{{ color }};}
</style>
    <h1 class="color" >Table de {{ n }}</h1>
    <table border=0 class="color">
    <th>Nombre (n) x Multiplicateur = Résultat</th>
    {% for calculation in calculations %}
  <tr>
  <td>{{ calculation.indice }}</td>
   <td>x</td>
   <td>{{ n }}</td>
   <td>=</td>
   <td>{{ calculation.result }}</td>
  </tr>
 {% endfor %}
    </table>
{% endblock %}
